<div class="container">
  <h2>Lista de Projetos</h2>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Título</th>
        <th>Data de Criação</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let projeto of projetos">
        <td>{{ projeto.titulo }}</td>
        <td>{{ projeto.createdAt | date }}</td>
        <td>
          <button *ngIf="isAdmin" class="btn btn-success" (click)="openModal(projeto)">
            Associar 
          </button>
          <button *ngIf="projeto.possuiUsuarios && isAdmin" class="btn btn-warning" (click)="openDesassociarModal(projeto)">
            Desassociar
          </button>
          <button *ngIf="isAdmin" class="btn btn-primary" (click)="onAction(projeto, 'editar')">
            Editar
          </button>
          <button *ngIf="projeto.possuiUsuarios && isAdmin" class="btn btn-danger" (click)="onAction(projeto, 'excluir')">
            Excluir
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="modal fade" id="desassociarModal" tabindex="-1" aria-labelledby="desassociarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="desassociarModalLabel">Desassociar Usuário do Projeto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="usuarioSelectDesassociar">Selecione o usuário para desassociar</label>
            <select class="form-control" id="usuarioSelectDesassociar" [(ngModel)]="usuarioDesassociar">
              <option *ngFor="let usuario of usuariosAssociados" [ngValue]="usuario">
                {{ usuario.nome }}
              </option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-warning" (click)="confirmarDesassociacao()">Desassociar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="associarModal" tabindex="-1" aria-labelledby="associarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="associarModalLabel">Associar Projeto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Deseja associar um usuário ao projeto {{ projetoSelecionado?.titulo }}?</p>
          
          <div class="form-group">
            <label for="usuarioSelect">Selecione o usuário</label>
            <select class="form-control" id="usuarioSelect" [(ngModel)]="usuarioSelecionado">
              <option *ngFor="let usuario of usuariosDisponiveis" [ngValue]="usuario">
                {{ usuario.nome }}
              </option>
            </select>
          </div>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="confirmarAssociacao()">Associar</button>
        </div>
      </div>
    </div>
  </div>

  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="pageNumber === 0">
        <a class="page-link" href="#" (click)="onPageChange(pageNumber - 1)">Anterior</a>
      </li>
      <li class="page-item" [class.disabled]="pageNumber >= totalElements / pageSize - 1">
        <a class="page-link" href="#" (click)="onPageChange(pageNumber + 1)">Próxima</a>
      </li>
    </ul>
  </nav>
</div>
