<div class="container">
  <div class="border-bottom mb-4">
    <p class="m-0">Cadastre um Projeto.</p>
  </div>

  <form [formGroup]="form" novalidate>
    <div class="d-flex mb-2">
        <div class="form-floating">
            <input type="text" class="form-control" id="titulo" placeholder="Título" size="25" formControlName="titulo" />
            <label for="titulo">Título</label>
            <div *ngIf="campoInvalido('titulo')" class="container-error">
            <span *ngIf="titulo.errors!['required']">É obrigatório.</span>
            </div>
        </div>
        <!-- Etapas -->
        <div class="etapas" formArrayName="etapas">
            <div class="alinhar titulo">
              <div><h2>Etapas</h2></div>
               <button class="buttonNovo" type="button" (click)="addEtapas()">
                     Novo
                </button>
            </div>
            <div *ngFor="let etapa of etapas; let indexEtapa = index" [formGroupName]="indexEtapa">
                <div class="cardContent">
                    <div class="container">
                        <input type="hidden" id="idEtapa" formControlName="idEtapa">
                        <div class="form-group" style="display: flex; align-items: flex-end;">
                            <div class="col-sm-10">                                
                                <label for="nomeEtapa">Nome Etapa</label>
                                <input type="text" class="form-control" id="nomeEtapa" placeholder="Etapa" size="25" formControlName="nomeEtapa">
                                <div *ngIf="campoInvalido('nomeEtapa')" class="container-error">
                                    <span *ngIf="getNomeEtapa(indexEtapa).errors!['required']">É obrigatório.</span>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <button class="buttonNovo" type="button" 
                                    (click)="carregarEtapas(); toggleEtapa(); indexEtapaAtual = indexEtapa">
                                    Reutilizar
                                </button>
                            </div>
                        </div>

                        <!-- Detalhe perguntas -->
                        <div class="etapas" formArrayName="perguntas">
                            <div class="alinhar titulo">
                                <div><h2>Perguntas</h2></div>
                                <button class="buttonNovo" type="button" (click)="addPerguntas(indexEtapa)">
                                   <i class="fa-solid fa-plus"></i> Novo
                                </button>
                            </div>
                            <div *ngFor="let pergunta of getPerguntas(indexEtapa); let indexPergunta = index" [formGroupName]="indexPergunta">
                                <div class="container">
                                    <div class="form-group" style="display: flex; align-items: flex-end;">
                                        <div class="col-sm-10" >
                                            <input type="hidden" id="idPergunta" formControlName="idPergunta">
                                            <label for="descricaoPergunta">Descricao Pergunta</label>
                                            <input type="text" class="form-control" id="descricaoPergunta" placeholder="Etapa" size="25" formControlName="descricaoPergunta">
                                            <!-- <div *ngIf="campoInvalido('nomeEtapa')" class="container-error">
                                                <span *ngIf="getNomeEtapa(indexEtapa).errors!['required']">É obrigatório.</span>
                                            </div> -->
                                        </div>
                                        <div class="col-sm-2">
                                            <button class="buttonNovo" type="button" 
                                                (click)="carregarPerguntas(); togglePergunta(); 
                                                    indexEtapaAtual = indexEtapa; indexPerguntaAtual = indexPergunta">
                                                Reutilizar
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="tipoPergunta">Tipo Pergunta</label>
                                        <select class="form-select" id="tipoPergunta" aria-label="Posto Serviço" formControlName="tipoPergunta">
                                            <option value="">Selecione...</option>
                                            <option value="STRING">TEXTO</option>
                                            <option value="MULTIPLA_ESCOLHA">MULTIPLA ESCOLHA</option>
                                            <option value="NUMERICO">NUMERICO</option>
                                        </select>
                                        <!-- <div *ngIf="campoInvalido('perguntas')" class="container-error"> -->
                                                <!-- <span *ngIf="getNomeEtapa(i).errors!['required']">É obrigatório.</span> -->
                                        <!-- </div> -->
                                    </div>
                                    <div class="form-group" *ngIf="getTipoPergunta(indexEtapa, indexPergunta).value == 'MULTIPLA_ESCOLHA'">
                                        <div class="etapas" formArrayName="opcoesResposta">
                                            <div class="alinhar titulo">
                                                <div><h2>Opções resposta</h2></div>
                                                <button class="buttonNovo" type="button" (click)="addOpcaoResposta(indexEtapa, indexPergunta)">
                                                   <i class="fa-solid fa-plus"></i> Novo
                                                </button>
                                            </div>
                                            <div *ngFor="let opcao of getOpcoesResposta(indexEtapa, indexPergunta); let indexOpcao = index" [formGroupName]="indexOpcao">
                                                <input type="hidden" id="idResposta" formControlName="idResposta">
                                                <div class="container">
                                                    <div class="form-group">
                                                        <label for="opcaoResposta">Opção</label>
                                                        <input type="text" class="form-control" id="opcaoResposta" placeholder="Opção" size="50" formControlName="opcaoResposta">
                                                        <!-- <div *ngIf="campoInvalido('descricaoProjeto')" class="container-error">
                                                            <span *ngIf="descricaoProjeto.errors!['required']">É obrigatório.</span>
                                                        </div> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <botao-acao styleId="btnSalvar" 
        (executaAcaoEvent)="gravarDados()" 
        style="margin-right: 10px;">
        Salvar
    </botao-acao>
  </form>

    <!-- modal etapa -->
    <modal-selecao-etapas
        [mostrar]="showModalEtapa"
        [registros]="listaEtapasModal"
        (onSelecionar)="retornarEtapaModal($event)">
    </modal-selecao-etapas>
    <!-- modal pergunta -->
    <modal-selecao-perguntas
        [mostrar]="showModalPergunta"
        [registros]="listaPerguntasModal"
        (onSelecionar)="retornarPerguntaModal($event)">
    </modal-selecao-perguntas>
</div>
